@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(109, 18, 117);
    --primary-color-darker: rgb(82, 13, 84);
}
*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(255, 248, 248);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

.display {
    text-align: right;
    width: 100%;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 192, 244);
}

.calculator {
    width: 350px;
}

.button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 192, 244);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 137, 255);
    transition: 0.2s;
}

.button:active {
    background-color: rgb(216, 133, 255);
}

.button-clear {
    background-color: rgb(255, 141, 141);
}

.button-clear:hover {
    background-color: rgb(255, 92, 92);
}